export(read.ancestrydna)
export(read.ancestrydna.zip)
export(read.ancestrydna.web)
export(read.23andme)
export(read.23andme.zip)
export(read.23andme.web)
export(as.genotype)
export(allele1)
export(allele2)
export(homozygous)
export(heterozygous)
export(nucleotide.in.genotype)
export(genotypes.overlap)
export(is.impossible.assignment)
export(allele.assigned)
export(assign.parent)
export(assign.parents)
export(assign.grandparents)
export(assign.passage)
export(set.genomology.loci)
export(get.genomology.loci)
export(locus.at)
export(homozygous.loci)
export(centimorgan.dist)
export(recombination.prob)
export(idescent.prob)
export(haploids.likeli.idescent)
export(diploids.likeli.idescent)
export(as.Yposition)
export(chromorderX)
export(chromorderY)
